.fields {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

.fields--information::before {
  .line-mobile-long();
  bottom: -24px;
  left: -20px;
}

.fields--target {
  padding-top: 27px;
  padding-bottom: 25px;

  &::before {
    .line-mobile-long();
    bottom: 0;
    left: -20px;
  }
}


.fields__list {
  .list-reset();
}

.fields__item {
  position: relative;
  margin-bottom: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:last-child {
    margin-bottom: 0;
  }
}

.fields__item--target {
  margin-bottom: 25px;
  justify-content: flex-start;
}

.fields__item--target label {
  position: relative;
  padding-left: 46px;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: -7px;
    left: 0;
    width: 28px;
    height: 28px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 50%;
  }

  &:hover::before {
    border: 1px solid rgba(0, 0, 0, 0.4);
  }

  &:active {
    opacity: 0.3;
  }
}

.fields__item--target input:focus + label::before {
  box-shadow: 0 0 0 2px @green;
}

.fields__item--target input:checked + label::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 9px;
  width: 12px;
  height: 12px;
  background-color: @green;
  border-radius: 50%;
}


.fields__item--addit {
  position: relative;
  margin-bottom: 25px;
  justify-content: flex-start;
}

.fields__item--addit label {
  padding-left: 46px;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: -6px;
    left: 0;
    width: 28px;
    height: 28px;
    border: 1px solid rgba(0, 0, 0, 0.2);
  }

  &:hover::before {
    border: 1px solid rgba(0, 0, 0, 0.4);
  }

  &:active {
    opacity: 0.3;
  }
}

.fields__item--addit input:focus + label::before {
  outline: 1px solid @green;
}

.fields__item--addit input:checked + label::before {
  background-image: url("../img/backgrounds/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 22px 17px;
}

.fields__legend {
  padding: 0;
  position: relative;
  .font-settings(24px, 24px, 400);

  &::before {
    content: "";
    position: absolute;
    top: 16px;
    height: 3px;
    background-color: @green;
  }
}

.fields__legend--contacts {
  margin-bottom: 34px;

  &::before {
    right: -20px;
    width: 99px;
  }
}

.fields__legend--comment {
  margin-bottom: 35px;

  &::before {
    right: -180px;
    width: 158px;
  }
}

.fields__legend--addit {
  margin-bottom: 42px;

  &::before {
    right: -159px;
    width: 136px;
  }
}

.fields__comment {
  font-family: "Oswald", "Arial", sans-serif;
  .font-settings(16px, 18px, 400);
  color: #444444;
  box-sizing: border-box;
  padding: 13px;
  min-width: 280px;
  min-height: 150px;
  border: 1px solid #e6e6e6;

  &::placeholder {
    text-transform: uppercase;
  }
}

.fields__label {
  flex-shrink: 0;
  margin-right: 16px;
  .font-settings(16px, 18px, 400);
  text-transform: uppercase;
}

.fields__input-text {
  // position: relative;
  font-family: "Oswald", "Arial", sans-serif;
  .font-settings(16px, 18px, 400);
  color: #444444;
  flex-grow: 1;
  width: 40px;
  box-sizing: border-box;
  padding: 12px 15px;
  border: 1px solid rgba(205, 205, 205, 0.5);
  height: 45px;

  &::placeholder {
    text-transform: uppercase;
  }

  &:hover {
    border: 1px solid rgba(205, 205, 205, 1);
  }

  &:focus {
    padding-left: 14px;
    border: 2px solid #444444;
  }
}

.fields__input-text.error {
  padding-left: 14px;
  border: 2px solid #ff8282;
}

.fields__icon-phone {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 21px;
  height: 21px;
  color: #222222;
}

.fields__icon-mail {
  position: absolute;
  top: 16px;
  right: 14px;
  width: 18px;
  height: 14px;
  color: #222222;
}

.fields__icon-mail.error,
.fields__icon-phone.error {
  color: #ff8282;
}

.fields__input-text:focus + .fields__icon-mail,
.fields__input-text:focus + .fields__icon-phone {
  color: @green;
}

.fields__input--check {
  margin: 0;
  margin-right: 16px;
}

@media (min-width: 768px) {
  .fields {
    width: 630px;
  }

  .fields--information::before {
    display: none;
  }

  .fields--target {
    padding-top: 34px;
    padding-bottom: 34px;
    padding-left: 28px;
    border: 1px solid #e6e6e6;

    &::before {
      display: none;
    }
  }

  .fields__list--addit {
    padding-top: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: space-between;
    flex-wrap: wrap;
    width: 628px;
  }

  .fields__legend {
    .font-settings(36px, 36px, 400);

    &::before {
      top: 22px;
      left: -70px;
      width: 768px;
      z-index: -1;
    }

    &::after {
      content: "";
      position: absolute;
      left: -39px;
      width: calc(100% + 78px);
      height: 100%;
      background-color: #ffffff;
      z-index: -1;
    }
  }

  .fields__legend--contacts {
    margin-bottom: 76px;
  }

  .fields__legend--comment {
    margin-bottom: 76px;
  }

  .fields__legend--addit {
    margin-bottom: 46px;
  }

  .fields__item {
    margin-bottom: 20px;
  }

  .fields__item--target {
    margin-bottom: 33px;
  }

  .fields__item--target label {
    padding-left: 59px;

    &::before {
      top: -9px;
      left: 0;
      width: 38px;
      height: 38px;
    }
  }

  .fields__item--target input:checked + label::after {
    left: 11px;
    width: 18px;
    height: 18px;
  }

  .fields__item--addit {
    margin: 0;
    margin-bottom: 52px;
    margin-right: 60px;
    width: 284px;

    &:nth-child(2n) {
      margin-right: 0;
    }

    &:last-child {
      margin-bottom: 52px;
    }
  }

  .fields__item--addit label {
    padding-left: 58px;

    &::before {
      top: -9px;
      left: 0;
      width: 38px;
      height: 38px;
      border: 1px solid rgba(0, 0, 0, 0.2);
    }
  }

  .fields__label {
    .font-settings(20px, 20px, 400);
  }

  .fields__input-text {
    padding: 12px 22px;
    height: 52px;
    .font-settings(20px, 30px, 400);
    &:focus {
      padding-left: 21px;
    }
  }

  .fields__input-text.error {
    padding-left: 21px;
  }

  .fields__icon-phone {
    top: 16px;
    right: 17px;
  }

  .fields__icon-mail {
    top: 20px;
    right: 20px;
  }

  .fields__comment {
    padding: 10px 18px;
    min-width: 631px;
    min-height: 174px;
    .font-settings(20px, 30px, 400);
  }
}

@media (min-width: 1440px) {
  .fields {
    width: 570px;
  }

  .fields--contacts {
    width: 1220px;
  }

  .fields--addit {
    display: flex;
    width: 1220px;
  }

  .fields__list--contacts {
    display: flex;
    justify-content: space-between;
  }

  .fields__list--addit {
    width: 1220px;
  }

  .fields__legend::before {
    left: -110px;
    width: 1440px;
  }

  .fields__item--target label {
    max-width: 300px;
  }

  .fields__item--contacts {
    margin: 0;
    width: 570px;
  }

  .fields__item--addit {
    width: 215px;
    margin-right: 110px;
    margin-bottom: 0;

    &:nth-child(2n) {
      margin-right: 110px;
    }

    &:last-child {
      margin-right: 0;
      margin-bottom: 0;
    }
  }

  .fields__item--addit label {
    max-width: 180px;
  }

  .fields__comment {
    min-width: 1220px;
  }
}
