.products__content {
  display: flex;
  flex-direction: column;
  .base-paddings();

  width: 280px;
  outline: 2px solid green;
}

.products__list {
  .list-reset();
}

.products__item {
  margin-bottom: 25px;
}
