.products__content {
  display: flex;
  flex-direction: column;
  .base-paddings();

  width: 280px;
}

.products__list {
  .list-reset();
}

.products__item {
  margin-bottom: 25px;
}

@media (min-width: 768px) {
  .products__content {
    .base-paddings-tablet();
    width: 708px;
  }

  .products__list {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .products__item {
    margin-bottom: 58px;
  }

  .products__item--more {
    margin-top: 82px;
  }

  .products__product {
    position: relative;
  }
}

@media (min-width: 1440px) {
  .products__content {
    .base-paddings-desktop();
    width: 1220px;
  }

  .products__list {
    justify-content: flex-start;
  }

  .products__item {
    margin-bottom: 61px;
  }

  .products__item:not(:nth-child(4n)):not(:last-child) {
    margin-right: 80px;
  }
}
