.more-products {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 27px;

  &::before {
    .line-mobile-long();
    top: 0;
    left: -20px;
  }
}

.more-products__show-more {
  margin-bottom: 22px;
  width: 31px;
  height: 31px;
  background-image: url("../img/icon-plus-mobile.svg");
  opacity: 0.2;
}

.more-products__lead {
  margin: 0;
  margin-bottom: 8px;
  .font-settings(16px, 20px, 400);
  text-transform: uppercase;
}

.more-products__description {
  margin: 0;
  margin-bottom: 19px;
  font-family: "Arial", "Helvetica", sans-serif;
  color: #444444;
  .font-settings(12px, 16px, normal);
}

@media (min-width: 768px) {
  .more-products {
    padding-top: 54px;
    padding-bottom: 40px;
    padding-left: 38px;
    padding-right: 38px;
    width: 246px;
    border: 1px solid #e6e6e6;

    &::before {
      display: none;
    }
  }

  .more-products__show-more {
    margin-bottom: 50px;
    width: 60px;
    height: 60px;
    background-image: url("../img/icon-plus.svg");
    opacity: 0.2;
  }

  .more-products__lead {
    margin-bottom: 24px;
    width: 140px;
    .font-settings(20px, 20px, 400);
    text-align: center;
  }

  .more-products__description {
    margin-bottom: 82px;
    width: 170px;
    .font-settings(16px, 20px, normal);
    text-align: center;
  }
}

@media (min-width: 1440px) {
  .more-products {
    width: 167px;
  }

  .more-products__show-more {
    margin-bottom: 50px;
  }
}
