.example {
  .base-paddings();
  padding-top: 32px;
  outline: 2px solid blue;
  background-color: @grey;
}

.example__heading {
  margin: 0;
  margin-bottom: 32px;
  .font-settings(36px, 60px, 400);
}

.example__description {
  margin: 0;
  margin-bottom: 25px;
  .standard-arial();
}

.example__wrapper {
  margin: 0;
}

.example__data {
  margin-bottom: 22px;
}

.example__key {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 12px;
  line-height: 12px;
  color: #444444;
  font-style: normal;
  font-weight: normal;
  text-transform: lowercase;
}

.example__value {
  .font-settings(24px, 24px, 400);
  text-transform: uppercase;
}

.example__total {
  margin: 0;
  margin-bottom: 44px;
  .font-settings(14px, 20px, 400);
  text-transform: uppercase;
}

.example__slide {
  margin: 0;
  margin-bottom: 35px;
}

.example__switcher {
  margin-bottom: 38px;
}

.example__label {
  .font-settings(16px, 20px, 400);
  text-transform: uppercase;
}
