.main-nav {
  .font-settings(20px, 20px, 600);
  text-transform: uppercase;
  display: block;
}

.main-nav.hide {
  display: none;
}

.main-nav__list {
  display: flex;
  flex-direction: column;
  .list-reset();
  padding-top: 15px;
  width: 280px;
}

.main-nav__item {
  position: relative;
  padding-top: 24px;
  padding-bottom: 24px;
  text-align: center;

  &:last-child {
    padding-bottom: 10px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -20px;
    width: 320px;
    height: 1px;
    background-color: #000000;
    opacity: 0.1;
  }
}

.main-nav__link {
  text-decoration: none;
  color: #111111;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: 768px) {
  .main-nav {
    .font-settings(18px, 25px, 400);
    display: block;
  }

  .main-nav__list {
    width: 450px;
    padding-top: 0;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    text-align: center;
  }

  .main-nav__item {
    padding: 0;
    padding-bottom: 6px;

    &::before {
      display: none;
    }
  }

  .main-nav__item:not(:last-child) {
    margin-right: 37px;
  }

  .main-nav__item--active {
    border-bottom: 2px solid @green;
  }
}

@media (min-width: 1300px) {
  .main-nav {
    .font-settings(20px, 25px, 400);
  }

  .main-nav__link--main {
    color: #ffffff;
  }

  .main-nav__list {
    padding-top: 8px;
    padding-right: 7px;
    width: 484px;
  }

  .main-nav__item--index {
    border-color: #ffffff;
  }
}
