.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .base-paddings();
  padding-bottom: 22px;
}

.copyright__link {
  text-decoration: none;
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: #444444;
}

@media (min-width: 768px) {
  .copyright {
    justify-content: flex-end;
    padding: 0;
  }

  .copyright__link {
    margin-right: 11px;
  }
}
