.addit-product-card {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 15px;

  &::before {
    .line-mobile();
    top: 0;
  }
}

.addit-product-card__data {
  display: flex;
  flex-direction: column;
  margin-bottom: 11px;
}

.addit-product-card__heading {
  margin: 0;
  margin-bottom: 11px;

  .font-settings(16px, 16px, 400);
  text-transform: uppercase;
}

.addit-product-card__properties {
  font-family: "Arial", "Helvetica", sans-serif;
  color: #444444;
  .font-settings(14px, 14px, normal);
}

.addit-product-card__item {
  width: 280px;
  display: flex;
  justify-content: space-between;
}

.addit-product-card__property {
  display: block;
  margin-left: -4px;
}

.addit-product-card__value {
  display: block;
  margin-left: auto;
}

@media (min-width: 768px) {
  .addit-product-card {
    padding-top: 27px;
    padding-left: 38px;
    padding-right: 34px;
    padding-bottom: 27px;

    &::before {
      display: none;
    }
  }

  .addit-product-card__data {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 18px;
  }

  .addit-product-card__properties {
    .font-settings(16px, 20px, normal);
  }

  .addit-product-card__heading {
    margin: 0;
    width: 285px;
    .font-settings(20px, 20px, 400);
  }

  .addit-product-card__property {
    min-width: 132px;
    margin-right: 33px;
    text-align: right;
  }

  .addit-product-card__value {
    min-width: 60px;
    text-align: right;
  }
}

@media (min-width: 1300px) {
  .addit-product-card {
    padding: 0;
    padding-top: 15px;
    padding-bottom: 16px;
    flex-direction: row;
    align-items: center;
  }

  .addit-product-card__data {
    margin: 0;
    margin-right: 40px;
    align-items: center;
  }

  .addit-product-card__heading {
    width: 295px;
    margin-right: 31px;
  }

  .addit-product-card__item {
    padding-top: 8px;
  }

  .addit-product-card__property {
    margin-right: 23px;
    min-width: 220px;
    max-width: 220px;
    text-align: left;
  }

  .addit-product-card__value {
    text-align: left;
  }
}
