.addit-product-card {
  display: flex;
  flex-direction: column;
  padding-top: 14px;
}

.addit-product-card__data {
  display: flex;
  flex-direction: column;
  margin-bottom: 14px;
}

.addit-product-card__heading {
  margin: 0;
  margin-bottom: 14px;

  .font-settings(16px, 16px, 400);
  text-transform: uppercase;
}

.addit-product-card__properties {
  font-family: "Arial", "Helvetica", sans-serif;
  color: #444444;
  .font-settings(14px, 14px, normal);
}

.addit-product-card__property {
  margin-left: -4px;
}

.addit-product-card__item {
  display: flex;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .addit-product-card {
    padding-left: 38px;
    padding-right: 38px;
    flex-direction: column;
  }

  .addit-product-card__data {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 18px;
  }

  .addit-product-card__heading {
    min-width: 285px;
    .font-settings(20px, 20px, 400);
  }

  .addit-product-card__property {
    margin-right: 33px;
  }

  .addit-product-card__value {
    min-width: 60px;
    text-align: right;
  }
}
