.button {
  box-sizing: border-box;
  display: block;
  padding: 12px;
  width: 280px;
  min-height: 40px;

  border: none;

  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  background-color: @green;
  color: rgba(255, 255, 255, 1);
  font-family: "Oswald", "Arial", sans-serif;
  .font-settings(16px, 20px, 400);

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

.button--program {
  .font-settings(14px, 18px, 400);
}

.button--show-all {
  background-color: @grey;
  color: rgba(68, 68, 68, 1);

  &:hover {
    background-color: #ebebeb;
  }

  &:active {
    color: rgba(68, 68, 68, 0.3);
  }
}

@media (min-width: 768px) {
  .button {
    padding-top: 16px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    width: 245px;
    min-height: 52px;
    .font-settings(16px, 20px, 400);
  }

  .button--catalog {
    padding-top: 11px;
    width: 249px;
    min-height: 40px;
    .font-settings(16px, 20px, 400);
  }

  .button--program {
    .font-settings(20px, 20px, 400);
  }

  .button--addit-view {
    padding-top: 11px;
    width: 632px;
    min-height: 40px;
  }

  .button--submit {
    padding-top: 9px;
    .font-settings(20px, 20px, 400);
    width: 282px;
  }
}

@media (min-width: 1440px) {
  .button {
    padding-top: 16px;
    width: 245px;
    min-height: 52px;
  }

  .button--catalog {
    padding-top: 11px;
    width: 169px;
    min-height: 40px;
  }

  .button--addit-view {
    padding-top: 11px;
    width: 245px;
    min-height: 40px;
  }

  .button--submit {
    padding-top: 11px;
    width: 570px;
    min-height: 54px;
  }
}
