.button {
  box-sizing: border-box;
  display: block;
  padding-top: 14px;
  width: 280px;
  height: 40px;

  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  background-color: #68b738;
  color: #ffffff;
  .font-settings(14px, 18px, 400);
}
