.gift {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  .base-paddings();
  padding-top: 65px;
  width: 280px;
  height: 289px;
  background-color: @green;
  background-image: url("../img/backgrounds/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
}

@media (min-resolution: 1.5dppx) {
  .gift {
    background-size: 100%;
    background-image: url("../img/backgrounds/gift-photo-mobile@2x.jpg");
  }
}

.gift__condition {
  margin: 0;
  width: 164px;
  text-align: center;
  color: #ffffff;
  font-family: "Arial", "Helvetica", sans-serif;
  .font-settings(16px, 20px, normal);
}

.gift__link {
  order: -1;
  margin-bottom: 64px;
  width: 56px;
  height: 61px;
  background-image: url("../img/backgrounds/icon-gift.svg");
  background-repeat: no-repeat;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: 768px) {
  .gift {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 66px;
    padding-left: 91px;
    padding-right: 121px;
    width: 708px;
    height: 200px;
    background-image: url("../img/backgrounds/gift-photo-tablet@1x.jpg");
  }

  .gift__condition {
    margin-top: 8px;
    text-align: left;
  }

  .gift__link {
    margin: 0;
    width: 55px;
    height: 60px;
  }
}

@media (min-width: 768px) and (min-resolution: 1.5dppx) {
  .gift {
    background-image: url("../img/backgrounds/gift-photo-tablet@2x.jpg");
  }
}

@media (min-width: 1300px) {
  .gift {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    padding-top: 64px;
    padding-bottom: 42px;
    width: 245px;
    height: 289px;
    background-image: url("../img/backgrounds/gift-photo-desktop@1x.jpg");
  }

  .gift__link {
    width: 56px;
    height: 61px;
  }

  .gift__condition {
    text-align: center;
  }
}

@media (min-width: 1300px) and (min-resolution: 1.5dppx) {
  .gift {
    background-image: url("../img/backgrounds/gift-photo-desktop@2x.jpg");
  }
}
