.body {
  min-width: 320px;
  margin: 0;

  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #111111;
}

.body__main-heading {
  margin: 0;
  margin-bottom: 35px;
  .base-paddings();
  .font-settings(36px, 60px, 400);
}

.body__item {
  margin: 0 auto;
}

.body__promo {
  margin-bottom: 22px;
}

.body__programs {
  margin-bottom: 32px;
}

.body__how-works {
  margin-bottom: 22px;
}
