.body {
  min-width: 320px;
  margin: 0;

  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #111111;
}

.body__main-heading {
  margin: 0 auto;
  margin-bottom: 35px;
  padding-top: 24px;
  .base-paddings();

  width: 280px;
  .font-settings(36px, 60px, 400);
  outline: 2px solid blue;
}

.body__item {
  margin: 0 auto;
}

.body__promo {
  margin-bottom: 22px;
}

.body__programs {
  margin-bottom: 32px;
}

.body__products {
  margin-bottom: 25px;
}

.body__addit-products {
  margin-bottom: 35px;
}

.body__how-works {
  margin-bottom: 22px;
}

.body__example {
  margin-bottom: 20px;
}

.body__form {
  margin-bottom: 34px;
}
