.body {
  min-width: 320px;
  margin: 0;

  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #111111;
}

.body__main-heading {
  margin: 0 auto;
  margin-bottom: 35px;
  padding-top: 24px;
  .base-paddings();

  width: 280px;
  .font-settings(36px, 60px, 400);
}

.body__item {
  margin: 0 auto;
}

.body__promo {
  margin-bottom: 22px;
}

.body__programs {
  margin-bottom: 32px;
}

.body__products {
  margin-bottom: 25px;
}

.body__addit-products {
  margin-bottom: 35px;
}

.body__how-works {
  margin-bottom: 22px;
}

.body__example {
  margin-bottom: 20px;
}

.body__form {
  margin-bottom: 34px;
}

@media (min-width: 768px) {
  .body__main-heading {
    margin-bottom: 74px;
    .base-paddings-tablet();
    width: 708px;
    .font-settings(60px, 60px, 400);
  }

  .body__promo {
    margin: 0;
  }
}

@media (min-width: 1440px) {
  .body--main::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 720px;
    height: 696px;
    background-image: url("../img/index-background-desktop@1x.jpg");
    background-repeat: no-repeat;
    z-index: -1;
  }

  .body__main-heading {
    .base-paddings-desktop();
    width: 1220px;
  }

  .body__example {
    margin-bottom: 0;
  }
}
