.social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0;

  width: 125px;
}

.social__item {
  display: block;
  color: #666666;
}

.social__item svg {
  &:hover {
    color: @green;
  }

  &:active {
    opacity: 0.3;
  }
}

.social__vk {
  width: 22px;
  height: 12px;
}

.social__inst {
  width: 17px;
  height: 17px;
}

.social__fb {
  width: 10px;
  height: 19px;
}

@media (min-width: 768px) {
  .social {
    padding: 0;
  }

  .social__vk {
    width: 30px;
    height: 16px;
  }

  .social__inst {
    width: 23px;
    height: 23px;
  }

  .social__fb {
    width: 14px;
    height: 28px;
  }
}
