.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  padding: 0;
  padding-top: 22px;

  min-width: 140px;
  max-width: 170px;
}

.social__item {
  &:not(:last-child) {
    margin-right: 40px;
  }
}

.social__item a {
  color: #666666;
}

.social__item svg {
  &:hover {
    color: @green;
  }

  &:active {
    opacity: 0.3;
  }
}

.social__vk {
  width: 22px;
  height: 19px;
}

.social__inst {
  width: 16px;
  height: 16px;
}

.social__fb {
  width: 10px;
  height: 19px;
}

@media (min-width: 768px) {
  .social {
    padding: 0;
    max-width: 324px;
  }

  .social__item:not(:last-child) {
    margin-right: 28px;
  }

  .social__vk {
    width: 30px;
    height: 16px;
  }

  .social__inst {
    width: 23px;
    height: 23px;
  }

  .social__fb {
    width: 14px;
    height: 28px;
  }
}

@media (min-width: 1300px) {
  .social {
    padding-top: 4px;
    padding-left: 12px;
    max-width: 770px;
  }
}
