@path: "../less/blocks/";

@green: #68b738;
@grey: #f2f2f2;

.standard-arial() {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  font-style: normal;
  font-weight: normal;
}

.base-paddings() {
  padding-left: 20px;
  padding-right: 20px;
}

.base-paddings-tablet() {
  padding-left: 30px;
  padding-right: 30px;
}

.base-paddings-desktop() {
  padding-left: 110px;
  padding-right: 110px;
}

.font-settings(@fontsize: 20px, @lineheight: 20px, @fontweight: 400) {
  font-size: @fontsize;
  line-height: @lineheight;
  font-weight: @fontweight;
}

.list-reset() {
  list-style: none;
  padding: 0;
  margin: 0;
}

.line-mobile() {
  content: "";
  position: absolute;
  width: 280px;
  height: 1px;
  opacity: 0.2;
  background-color: #000000;
}

.line-mobile-long() {
  content: "";
  position: absolute;
  width: 320px;
  height: 1px;
  opacity: 0.1;
  background-color: #000000;
}
