.form__form {
  display: flex;
  flex-direction: column;
  // margin: 0 auto;
  // .base-paddings();
  // width: 280px;
}

.form__legend {
  position: relative;
}

.form__legend::before {
  content: "";
  width: 100%;
  position: absolute;
  top: 16px;
  height: 3px;
  background-color: @green;
  z-index: -1;
}

.form__description {
  margin: 0 auto;
  margin-bottom: 38px;
  padding-right: 20px;
  width: 260px;
  .font-settings(14px, 18px, 400);
  text-transform: uppercase;
}

.form__item {
  margin: 0 auto;
}

.form__item--information {
  margin-bottom: 23px;
}

.form__item--target {
  margin-bottom: 28px;
}

.form__item--contacts {
  margin-bottom: 28px;
}

.form__item--comment {
  margin-bottom: 28px;
}

.form__item--addit {
  margin-bottom: 39px;
}

.form__submit {
  margin: 0 auto;
  margin-bottom: 21px;
}

.form__required-fields-text {
  margin: 0;
  font-family: "Arial", "Helvetica", sans-serif;
  .font-settings(14px, 16px, normal);
  text-align: center;
  color: #444444;
}

@media (min-width: 768px) {
  .form__legend::before {
    top: 20px;
  }

  .form__description {
    margin-bottom: 65px;
    padding-left: 40px;
    padding-right: 344px;
    width: 324px;
    .font-settings(20px, 30px, 400);
  }

  .form__item--information {
    margin-bottom: 72px;
  }

  .form__item--target {
    margin-bottom: 75px;
  }

  .form__item--contacts {
    margin-bottom: 65px;
  }

  .form__item--comment {
    margin-bottom: 65px;
  }

  .form__item--addit {
    margin-bottom: 13px;
  }

  .form__end {
    margin: 0 auto;
    padding-left: 70px;
    width: 698px;
    display: flex;
    align-items: center;
  }

  .form__submit {
    margin: 0;
    margin-right: 58px;
  }

  .form__required-fields-text {
    width: 190px;
    .font-settings(16px, 16px, normal);
  }
}

@media (min-width: 1300px) {
  .form__form {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    // .base-paddings-desktop();
    // width: 1220px;
  }

  .form__item--information {
    margin-bottom: 68px;
  }

  .form__item--target {
    margin-bottom: 68px;
  }

  .form__item--contacts {
    margin-bottom: 67px;
  }

  .form__item--comment {
    margin-bottom: 67px;
  }

  .form__item--addit {
    margin-bottom: 71px;
  }

  .form__end {
    padding-left: 40px;
    width: 1260px;
  }

  .form__description {
    padding-right: 910px;
    padding-left: 40px;
    width: 350px;
  }

  .form__submit {
    margin-right: 75px;
  }
}
