.how-works__content {
  display: flex;
  flex-direction: column;
  .base-paddings();

  width: 280px;
}

.how-works__heading {
  margin: 0;
  margin-bottom: 30px;
  .font-settings(36px, 60px, 400);
}

.how-works__list {
  display: flex;
  flex-direction: column;
  .list-reset();
  .standard-arial();
}

.how-works__item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.how-works__item:not(:last-child) {
  margin-bottom: 20px;
}

.how-works__icon {
  margin-right: 20px;
  width: 60px;
  height: 60px;
  background-color: @green;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 50px 50px;
}

.how-works__icon--leaf {
  background-image: url("../img/backgrounds/advantage-leaf@1x.png");
}

.how-works__icon--powder {
  background-image: url("../img/backgrounds/advantage-powder@1x.png");
}

.how-works__icon--dining {
  background-image: url("../img/backgrounds/advantage-dining@1x.png");
}

.how-works__icon--clock {
  background-image: url("../img/backgrounds/advantage-clock@1x.png");
}

.how-works__description {
  margin: 0;
  width: 200px;
}

@media (min-resolution: 1.5dppx) {
  .how-works__icon--leaf {
    background-image: url("../img/backgrounds/advantage-leaf@2x.png");
  }

  .how-works__icon--powder {
    background-image: url("../img/backgrounds/advantage-powder@2x.png");
  }

  .how-works__icon--dining {
    background-image: url("../img/backgrounds/advantage-dining@2x.png");
  }

  .how-works__icon--clock {
    background-image: url("../img/backgrounds/advantage-clock@2x.png");
  }
}

@media (min-width: 768px) {
  .how-works__content {
    .base-paddings-tablet();
    padding-bottom: 9px;

    width: 708px;
  }

  .how-works__heading {
    .font-settings(60px, 60px, 400);
    margin-bottom: 32px;
  }

  .how-works__list {
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;

    .font-settings(16px, 24px, 400);

    counter-reset: number;
  }

  .how-works__item:not(:last-child) {
    margin-bottom: 93px;
  }

  .how-works__item {
    flex-direction: column;
    margin-bottom: 93px;
    padding-top: 40px;
    width: 324px;
  }


  .how-works__item:nth-child(2n + 1) {
    margin-right: 60px;
  }

  .how-works__icon {
    position: relative;
    margin-bottom: 32px;
    width: 80px;
    height: 80px;
  }

  .how-works__icon::before {
    display: flex;
    counter-increment: number;
    content: counter(number);
    position: absolute;
    top: -40px;
    left: 114px;
    font-family: "Oswald", "Arial", sans-serif;
    .font-settings(281px, 281px, 400);
    color: @grey;

    z-index: -1;
  }

  .how-works__description {
    width: 245px;
  }
}

@media (min-width: 1440px) {
  .how-works__content {
    .base-paddings-desktop();

    width: 1220px;
  }

  .how-works__heading {
    margin-bottom: 70px;
  }

  .how-works__item {
    margin-bottom: 40px;
    padding-top: 0;
    width: 245px;
  }

  .how-works__item:not(:last-child) {
    margin-bottom: 40px;
    margin-right: 80px;
  }
}
