.program {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  .base-paddings();
  padding-top: 36px;

  background-color: @grey;
}

.program__heading {
  position: relative;
  margin: 0;
  margin-bottom: 36px;
  padding: 0;
  padding-left: 70px;
  .font-settings(24px, 37px, 400);
  text-transform: uppercase;
}

.program__heading::before {
  content: "";
  position: absolute;
  top: -8px;
  left: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: @green;
}

.program__heading--slim::after {
  content: "";
  position: absolute;
  top: -8px;
  left: 10px;
  width: 35px;
  height: 49px;
  background-image: url("../img/icon-cat-slim.svg");
  background-repeat: no-repeat;
}

.program__heading--pro::after {
  content: "";
  position: absolute;
  top: 2px;
  left: -10px;
  width: 67px;
  height: 28px;
  background-image: url("../img/icon-cat-pro.svg");
  background-repeat: no-repeat;
}

.program__description {
  margin: 0;
  .standard-arial();
  margin-bottom: 44px;
}

.program__link {
  position: relative;
  margin-bottom: 22px;
  .font-settings(16px, 16px, 400);
  text-decoration: none;
  text-transform: uppercase;
  color: #111111;
}

.program__link::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 95px;
  width: 24px;
  height: 11px;
  background-image: url("../img/icon-right-arrow-long.svg");
}

/*  ПЛАНШЕТНАЯ ВЕРСИЯ  */

@media (min-width: 768px) {
  .program__heading {
    padding: 0;
    .font-settings(36px, 37px, 400);
  }

  .program__heading::before {
    top: 20px;
    left: 400px;
    width: 200px;
    height: 200px;
  }

  .program__heading--slim::after {
    top: 5px;
    left: 425px;
    width: 141px;
    height: 194px;
  }

  .program__heading--pro::after {
    top: 70px;
    left: 365px;
    width: 268px;
    height: 113px;
  }

  .program__description {
    .font-settings(16px, 24px, normal)
  }

  .program__description--slim {
    width: 380px;
  }

  .program__description--pro {
    width: 340px;
  }

  .program__link {
    .font-settings(16px, 16px, 400);
  }
}
