.addit-products {
  outline: 2px solid blue;
  .base-paddings();
  padding-top: 30px;
}

.addit-products__heading {
  margin: 0;
  margin-bottom: 30px;
  .font-settings(24px, 24px, 400);
}

.addit-products__list {
  .list-reset();
}

.addit-products__item {
  margin-bottom: 17px;
}

.addit-products__gift {
  margin-bottom: 35px;
}
