.addit-products__content {
  display: flex;
  flex-direction: column;
  .base-paddings();
  padding-top: 30px;
  width: 280px;
  outline: 2px solid blue;
}

.addit-products__heading {
  margin: 0;
  margin-bottom: 30px;
  .font-settings(24px, 24px, 400);
}

.addit-products__list {
  display: flex;
  flex-direction: column;
  .list-reset();
}

.addit-products__item {
  margin-bottom: 17px;
}
