.cooperation {
  background-color: #ffffff;
}

.cooperation--alternate-view {
  background-color: @grey;
}

.cooperation__wrapper {
  position: relative;
  margin: 0 auto;
  width: 320px;
}

.cooperation__dilers {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 280px;
  .base-paddings();
}

.cooperation__lead {
  margin: 0;

  width: 125px;
  .font-settings(16px, 20px, 400);
  text-transform: uppercase;
}

.cooperation__address {
  width: 140px;
  color: #444444;
  font-family: "Arial", "Helvetica", sans-serif;
  .font-settings(14px, 20px, normal);
  font-style: normal;
}

.cooperation__map-container {
  margin: 0 auto;
  width: 320px;
}

@media (min-width: 768px) {
  .cooperation__dilers {
    width: 628px;
    padding-left: 70px;
    padding-right: 70px;
  }

  .cooperation__wrapper {
    width: 768px;
  }

  .cooperation__lead {
    width: 154px;
    .font-settings(20px, 25px, 400);
  }

  .cooperation__address {
    width: 156px;
    .font-settings(16px, 20px, normal);
  }

  .cooperation__map-container {
    width: 768px;
  }
}

@media (min-width: 1440px) {
  .cooperation__wrapper {
    width: 1440px;
  }

  .cooperation__dilers {
    position: absolute;
    top: 95px;
    left: 100px;
    padding: 0;
    padding-left: 76px;
    padding-right: 90px;

    width: 404px;
    min-height: 201px;

    background-color: #ffffff;
  }

  .cooperation--alternate-view {
    background-color: #ffffff;
  }

  .cooperation__map-container {
    width: 1440px;
  }
}


// .main-footer__cooperation {
//   position: absolute;
//   top: 95px;
//   left: 110px;
// }
