.cooperation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 20px;
  .base-paddings();

  width: 280px;
  background-color: #ffffff;

  outline: 2px solid green;
}

.cooperation--alternate-view {
  background-color: @grey;
}

.cooperation__lead {
  margin: 0;
  margin-right: 18px;

  width: 125px;
  .font-settings(16px, 20px, 400);
  text-transform: uppercase;
}

.cooperation__address {
  width: 140px;
  color: #444444;
  font-family: "Arial", "Helvetica", sans-serif;
  .font-settings(14px, 20px, normal);
  font-style: normal;
}

@media (min-width: 768px) {
  .cooperation {
    padding: 0;
    padding-left: 70px;
    padding-right: 70px;

    width: 628px;
  }
}

@media (min-width: 1440px) {
  .cooperation {
    margin: 0;
    padding: 0;
    padding-left: 76px;
    padding-right: 76px;

    width: 476px;
    min-height: 201px;
  }

  .cooperation--alternate-view {
    background-color: #ffffff;
  }
}
