.programs__content {
  display: flex;
  flex-direction: column;
  .base-paddings();

  width: 280px;
}

.programs__list {
  .list-reset();
}

.programs__item:not(:last-child) {
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .programs__content {
    .base-paddings-tablet();

    width: 708px;
  }
}

@media (min-width: 1440px) {
  .programs__content {
    .base-paddings-desktop();

    width: 1220px;
  }

  .programs__list {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
}
