.promo__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  .base-paddings();
  padding-top: 27px;

  width: 280px;
  background-size: 320px 305px;
  background-image: url("../img/backgrounds/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  color: #ffffff;
}

.promo__heading {
  margin: 0;
  margin-bottom: 25px;
  text-align: center;
  .font-settings(36px, 36px, 400);
}

.promo__lead {
  margin: 0;
  margin-bottom: 29px;
  .font-settings(14px, 14px, 400);
  text-transform: uppercase;
}

.promo__image-wrapper {
  margin: 0;
  margin-bottom: 2px;
  width: 280px;
  height: 270px;
}

@media (min-width: 768px) {
  .promo__content {
    align-items: flex-start;
    width: 618px;
    min-height: 801px;
    padding-left: 118px;
    padding-right: 30px;
    background: none;
    color: #000000;
  }

  .promo__heading {
    margin-bottom: 43px;
    width: 415px;
    .font-settings(60px, 60px, 400);
    text-align: left;
  }

  .promo__lead {
    margin-bottom: 47px;
    .font-settings(20px, 20px, 400);
  }

  .promo__image-wrapper {
    position: absolute;
    top: 229px;
    left: 28px;
    width: 709px;
    height: 609px;
    z-index: -1;
  }
}

@media (min-width: 1440px) {
  .promo__content {
    padding-top: 84px;
    padding-left: 190px;
    padding-right: 110px;
    width: 1140px;
    min-height: 468px;
  }

  .promo__image-wrapper {
    top: 4px;
    left: 560px;
  }

  .promo__lead {
    margin-bottom: 53px;
  }
}

@media (min-resolution: 1.5dppx) and (max-width: 767px) {
  .promo__content {
    background-image: url("../img/backgrounds/index-background-mobile@2x.jpg");
  }
}
