.main-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  .base-paddings();
  width: 280px;
}

.main-header__logo {
  margin: 0;
  width: 191px;
  height: 39px;

  &:hover {
    opacity: 0.8;
  }
}

.main-header__logo-image {
  cursor: pointer;

  &:active {
    opacity: 0.6;
  }
}

.main-header__button {
  display: none;
  position: relative;
  padding: 0;
  width: 24px;
  height: 18px;
  border: none;
  background: none;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    width: 24px;
    height: 2px;
    background-color: black;
    transition-duration: 0.2s;
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    width: 24px;
    height: 2px;
    background-color: black;
    transition-duration: 0.2s;
    box-shadow:
      0 7px 0 0 black,
      0 -7px 0 0 black;
  }
}

.main-header__button.show {
  display: block;
}

.main-header__button.active {
  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
    box-shadow: none;
  }
}

.main-header__nav {
  margin: 0 auto;
}

.main-header__wrapper {
  margin: 0 auto;
}

@media (min-width: 768px) {
  .main-header__container {
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 20px;
    .base-paddings-tablet();
    padding-right: 21px;
    width: 717px;
  }

  .main-header__logo {
    padding-bottom: 6px;
    width: 174px;
    height: 59px;
  }

  .main-header__nav {
    margin: 0;
  }

  .main-header__button {
    display: none;
  }
}

@media (min-width: 1300px) {
  .main-header__container {
    padding-top: 14px;
    .base-paddings-desktop();
    padding-right: 29px;
    width: 1231px;
  }

  .main-header__logo {
    padding-bottom: 0;
    width: 203px;
    height: 60px;
  }
}
