.main-header {
  padding-top: 11px;
}

.main-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  .base-paddings();
  margin: 0 auto;
  width: 280px;
  outline: 2px solid red;
}

.main-header__logo {
  margin: 0;
  width: 191px;
  height: 39px;
}

.main-header__button {
  width: 24px;
  height: 18px;
  border: none;
  background: none;
  background-image: url("../img/icon-mobile-menu.svg");
}

.main-header__nav {
  // display: none;
  margin: 0 auto;
}

.main-header__wrapper {
  margin: 0 auto;
}

@media (min-width: 768px) {
  .main-header__container {
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 20px;
    .base-paddings-tablet();
    padding-top: 20px;
    width: 708px;
  }

  .main-header__logo {
    padding-bottom: 6px;
    width: 174px;
    height: 59px;
  }

  .main-header__nav {
    margin: 0;
  }

  .main-header__button {
    display: none;
  }
}

@media (min-width: 1440px) {
  .main-header__container {
    .base-paddings-desktop();
    width: 1220px;
  }
}
