.main-footer {
  background-color: @grey;
}

.main-footer__cooperation {
  padding-bottom: 20px;
}

.main-footer__content {
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  width: 320px;
  outline: 2px solid red;
}

.main-footer__map {
  margin-bottom: 36px;
}

.main-footer__logo {
  .base-paddings();
  margin: 0 auto;
  margin-bottom: 56px;
}

.main-footer__social {
  margin: 0 auto;
  margin-bottom: 44px;
}

.main-footer__copyright {
  margin-bottom: 22px;
}
