.main-footer {
  background-color: @grey;
}

.main-footer__content {
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  width: 320px;
  outline: 2px solid red;
}

.main-footer__map {
  margin-bottom: 36px;
}

.main-footer__logo {
  display: flex;
  justify-content: center;
  .base-paddings();
  margin: 0 auto;
  margin-bottom: 56px;
}

.main-footer__social {
  margin: 0 auto;
  margin-bottom: 44px;
}

@media (min-width: 768px) {
  .main-footer__content {
    width: 768px;
  }

  .main-footer__logo-n-social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .base-paddings-tablet();
  }

  .main-footer__logo {
    justify-content: flex-start;
    margin: 0;
    padding: 0;
  }

  .main-footer__social {
    margin: 0;
  }
}

@media (min-width: 1440px) {
  .main-footer__content {
    position: relative;
    width: 1440px;
  }

  .main-footer__cooperation {
    position: absolute;
    top: 95px;
    left: 110px;
  }

  .main-footer__logo-n-social {
    .base-paddings-desktop();
  }
}
